#wrapper {
    background-color: rgb(210, 242, 243);
    color: rgb(47, 54, 46);
    width: 30%;
    min-width: 250px;
    max-width: 500px;
    border-radius: 20px 20px;
    padding-top: 1em;
    padding-bottom: 1em;
}